# When the game starts everyone will be teleported in a random square radius
#   between 0 and teleportMaxDistance blocks from 0,0. (no more than 1.000.000 blocks)
teleportMaxDistance: 1000000

# Decide whether to teleport players:
#   - everyone together (ALL),
#   - everyone apart (ALONE),
#   - everyone with their teammates (TEAM),
playerTeleportStrategy: ALL

# If true, the game will send a message to players that died while playing the game
#   that can be used to teleport them back.
teleportBackAfterDeathMessage: true  # true or false

# The height (exact y-level) of the spawn platform at the start of the game
lobbySpawnHeight: 128

# Distances to teleport a player that uses the Go-Up-Wand
GoUpWand:
  upDistance: 75 # teleport up distance
  downDistance: 5 # teleport down distance, watch out for the void ;)
  cooldown: 5.0 # item cooldown in seconds